- if choices
  #choices-list
    .subfield
      %span.circle.remover &times;
      = select_tag "offices", options_for_select(offices_options)

= form_for document_type, url: current_document_type_path(document_type), method: :patch do |f|
  = render partial: "partials/form_errors", locals: { object: document_type }

  .field
    = f.label :name
    = f.text_field :name

  .field
    = f.label :route
    - document_type.offices.each do |office|
      .subfield
        %span.circle.remover &times;
        = select_tag "offices[#{office.id}]", options_for_select(offices_options, office.id)
    = link_to raw("<span class=\"circle\">&plus;</span>Add Office"), "#", class: "add-choices"

  .field.actions
    = f.hidden_field :route
    = f.submit "Update Document Type", class: "button blue"