.page
  .page-header
    .header-group
      %h1.title= @document.name
      %h2.subtitle= @document.owner
    %span.tracking-number= "TN: #{@document.tracking_number}"
    .page-actions
      - if current_page?("documents") and !@document.onhold?
        = link_to "Edit", "#", data: { target: "#edit-document" }, class: "button blue sidebar-trigger"
        = link_to "Delete", document_path(@document), method: :delete, data: { confirm: "Are you sure you want to delete this document?" }, class: "button red"

      - if current_page?("documents")
        #edit-document.hidden
          %h2.sidebar-title Edit Document
          = render partial: "documents/update_form", locals: { document: @document }

  - if @document.onhold?
    = link_to "Edit", "#", data: { target: "#edit-document" }, class: "button blue sidebar-trigger"
    = link_to "Delete", document_path(@document), method: :delete, data: { confirm: "Are you sure you want to delete this document?" }, class: "button red"
    = render partial: "document_routes/create_form", locals: { route: @route, offices: @offices }

  - else
    %table
      %tr
        %th.wide Office
        %th.thin Status
        %th Date In
        %th Date Out
        - if current_page?("office/documents")
          %th.thin Actions

      - @routes.each do |route|
        %tr
          %td.wide
            = route.office.name
            %span.item-badge.pill-button= route.office.turnaround_time
          %td.thin.center
            %span{ class: "pill-button #{route_status_indicator(route.status)}" }= route.status
          %td.center= route.date_in.in_time_zone(timezone).strftime("%b %e, %Y at %l:%M %P") if route.date_in
          %td.center= route.date_out.in_time_zone(timezone).strftime("%b %e, %Y at %l:%M %P") if route.date_out
          - if current_page?("office/documents")
            %td.thin.center
              - if route.office == current_office
                - if route.incoming?
                  = link_to "Receive", receive_document_route_path(route), method: :put, class: "button mini green"
                - elsif route.received?
                  = render partial: "document_routes/release_form", locals: { route: route, document: @document, offices: @offices }
                  = link_to "Complete", complete_document_route_path(route), method: :put, class: "button mini blue"
                  = link_to "Reject", reject_document_route_path(route), method: :put, class: "button mini red"

  %section.page-section
    %h2.section-title Comments
    %ul.listing
      - @document.comments.alive.each do |comment|
        %li.list-item.comment
          %header
            %h5= comment.office.name
            - if comment.as_staff?
              %span.pill-button.blue Staff
            - elsif comment.as_admin?
              %span.pill-button.red Admin
            .comment-meta
              %time= comment.created_at.strftime("%b %e")
              - if has_manage_privileges?(comment)
                = link_to "Delete", comment_path(comment), method: :delete, data: { confirm: "Are you sure you want to delete this comment?" }, class: "pill-button"
          %p= comment.body

      - if @document.comments.alive.empty?
        %li.empty-listing No comments found.

  %section.page-section
    %h2.section-title Add Comment
    = render partial: "comments/create_form", locals: { comment: @comment }