%header#main-header
  = link_to "Document Tracker", root_path, id: "site-logo"

  - if notice
    %p.notification.notice= notice.html_safe
  - if alert
    %p.notification.alert= alert.html_safe

  - if office_signed_in?
    - if current_role == "admin"
      %span.pill-button.red Admin

    .current-user.button-group.split-dropdown
      %span.button= current_office.name
      - notifications = []
      - unseen_notifications = []
      %span#notifications{ class: "button dropdown-trigger", "data-count" => 10, "data-last" => notifications.any? ? notifications.last.id : 0 }
        %ul.dropdown
          / - unseen_notifications.order("-id").each do |notification|
          /   %li= link_to notification.body.html_safe, notification.link, data: { id: notification.id }, class: "dropdown-item"
          - if unseen_notifications.empty?
            %li.dropdown-item.no-notifications You have no notifications
      %span.button.dropdown-trigger
        %ul.dropdown
          - if current_office.admin?
            %li= link_to "Office Account", switch_path(role: "office"), method: :post, class: "dropdown-item"
            %li= link_to "Admin Account", switch_path(role: "admin"), method: :post, class: "dropdown-item"
          %li= link_to "Account Settings", edit_office_registration_path, class: "dropdown-item"
          %li= link_to "Sign Out", destroy_office_session_path, method: :delete, class: "dropdown-item"
  - else
    %p.signed-out-notice You are not signed in.
    = link_to "Sign In", new_office_session_path, class: "button blue"