.page
  .page-header
    %h1.title Document Types
    .page-actions
      %button.button.blue.sidebar-trigger{ "data-target" => "#create-document-type" } Create Document Type

      #create-document-type.hidden
        %h2.sidebar-title Create Document type
        = render partial: "admin/document_types/create_form", locals: { document_type: @document_type, offices: @offices }

  %ul.listing
    - @document_types.each do |document_type|
      %li.list-item
        = link_to document_type.name, admin_document_type_path(document_type), class: "item-label"
        .item-actions
          = link_to "Edit", "#", data: { target: "#edit-document-type-#{document_type.id}" }, class: "pill-button sidebar-trigger"
          = link_to "Delete", admin_document_type_path(document_type), method: :delete, data: { confirm: "Are you sure you want to delete this document type?" }, class: "pill-button"

          .hidden{ id: "edit-document-type-#{document_type.id}" }
            %h2.sidebar-title Edit Document Type
            - object = @flash_document_type == document_type ? @flash_document_type : document_type
            = render partial: "admin/document_types/update_form", locals: { document_type: object, offices: @offices, choices: false }

    - if @document_types.empty?
      %li.empty-listing No document types found.